.content {
  margin: 30px;
  text-align: center;
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
}
.content p {
  font-size: 14px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}
